{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-unused-expressions": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "default-case": "off",
    "no-restricted-globals": "off",
    "radix": "off",
    "no-lonely-if": "off",
    "no-mixed-operators": "off"
  }
}
